* {
    box-sizing: border-box;
    padding: 0;
}

:root {
    --dark: #28b6cf;
    --light: #5da1f0;
    --weather: #3a46f5;
}

body {
    background-color: #ffffff;
}

.jumbotron {
    text-align: center;
    background-color: var(--dark);
    color: #ffffff;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.city-group {
    margin-top: 5px;
    padding: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.cityName {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: 600;
}

#dayOne,
#dayTwo,
#dayThree,
#dayFour,
#dayFive {
    display: flex;
    flex-direction: column;
    border: 4px solid var(--dark); 
    flex-basis: 25%;
    padding: 5px;
    margin: 5px;
    min-height: 250px;
    background-size: cover;
}