* {
    box-sizing: border-box;
}

:root {
    --dark:  #020341;
    --light: #64b8d1;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.jumbotron {
    text-align: center;
    background-color: var(--dark);
    color: var(--light);
    margin-top: 20px;
    height: 250px;
}

h3,
h4 {
    font-weight: 600;
    margin: 0;
    color: var(--light);
    line-height: 1.25;
}

main {
    margin: 20px auto;
    width: 94%;
}

.city-group {
    margin-top: 5px;
    padding: 3px;
    border: 5px;
}

.btn {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--dark);
    color: #ffffff;
}

.btn:hover {
    color: gray;
    background-color: (--light);
    transform: translate(0, 0);
}

.btn-inline {
    display: inline;
}

.city-group,
.card-weather {
    padding: 0;
    list-style: none;
}

#city-list,
.card-weather {
    margin-bottom: 10px;
    padding: 2%;
    border-radius: 5px;
    background-color: (--dark);
    color: (--light);
    text-decoration: none;
}

.inputCard, 
.card-weather {
    margin: 0 0 20px 0;
    border: 2px solid var(--dark);
    border-radius: 8px;
}

.input-header {
    color: var(--light);
    background-color: var(--dark);
    padding: 2%;
    border-radius: 6px;
}

.card-body, 
.card-weather {
    padding: 2%;
}

.form-input,
.form-textarea {
    display: block;
}

.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--dark);
    border-radius: 5px;
}

.flex-row .cityName {
    color: var(--light);
    background-color: var(--dark);
    padding: 2%;
    border-radius: 6px;
}

.flex-row #cityContainer {
    display: block;
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--dark);
    border-radius: 5px;
}

.flex-row .card-weather {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--dark);
    border-radius: 5px;
}

#five-day-box {
    display: block;
    flex-direction: column;
    border: 2px solid var(--dark); 
    border-radius: 5px;
    flex-basis: 100%;
    padding: 5px;
    margin: 8px;
    min-height: 250px;
    background-size: cover;
}


.min-100-vh {
    min-height: 100vh;
}
  
.min-100-vw {
    min-width: 100vw;
}

/* .flex-row {
    display: flex;
    flex-wrap: wrap;
}  */

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
} 

.justify-flex-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}
